@media screen and (max-width: 1140px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px) {
  .banner h1 {
    font-size: 64px;
  }
  .banner_img img {
    width: 100px;
    border: solid var(--color2) 4px;
    border-radius: 50%;
    margin-right: 12px;
  }
  .area1 {
    grid-template-columns: 2fr 1fr;
  }
  .area1--conteudo {
    padding: 78px 40px;
    width: auto;
    height: auto;
  }
  .area2 {
    grid-template-columns: 2fr 2fr;
  }
  .area2--conteudo {
    padding: 78px 40px;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar--search input {
    max-width: 90px;
  }
  .banner h1 {
    font-size: 40px;
    padding: 0;
  }
  .banner_img img {
    width: 70px;
    border: solid var(--color2) 4px;
    border-radius: 50%;
    margin-right: 6px;
  }
  .area1 {
    grid-template-columns: 1fr;
  }
  .area1--conteudo {
    padding: 78px 40px;
    width: auto;
    height: auto;
  }
  .area2 {
    grid-template-columns: 1fr;
  }
  .area3 {
    grid-template-columns: 1fr;
  }
  .area3--conteudo {

    background-image: url("../components/img/bg2.jpg");
    background-position: left;
    background-size: cover;
    padding: 50px;
  }
  
  .area3--text {
    margin-bottom: 50px;
    line-height: 25px;
    width: auto;
  }
  .area4 {
    grid-template-columns: 1fr;
  }
}
